/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 85px;
}

img {
    max-height:inherit;
    min-height:inherit;
    width:min-content;
    object-fit: cover;
}

.row {
    margin-bottom: 25px;
}

.c-1 {
    max-height: 200px;
    min-height: 200px;
}

.c-2 {
    max-height: 330px;
    min-height: 330px;
}



.parent {
    height:calc(100vh - 110px);
    background-size: cover;
    position: relative;

    .forms {
        background-color: white;
        border-radius: 25px;
        padding: 20px;
        width: 30%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .btn {
            margin-top: 15px;
        }
    }
}

.f-1 {
    background-image: url("assets/images/pexels-mrishmarinaalekseevna-6569295.jpg");
}

.f-2 {
    background-image: url("assets/images/pexels-eberhard-grossgasteiger-2088170.jpg");
    background-position: right 50% bottom 30%;
}

.diary-page {
    width:fit-content;
}

form .btn {
    margin-top: 15px;
}


.diary-page {
    max-width: 50vw;
    .btn {
        margin-bottom: 15px;
    }
    .d-e {
        border: 2px solid salmon;
        margin-bottom: 15px;
        border-radius: 25px;
        padding: 15px;
        overflow-wrap: break-word;
    }
}
